
extends layout
block content
    style
        | .profile-title { text-align:center; margin:20px 0 20px 0;}
        | .profile-image { width:200px; height:200px; background:url('/public/img/Homelessman.jpg');
        |    background-size:cover; margin:auto; margin-bottom:-60px; z-index:1; position:relative; }
        | .profile-description { text-align:left; margin-top:20px; padding-top:20px; line-height: 24px; }
        | .btnDonate { padding:5px 20px; width:100%; font-size:36px; }
        | .profile-progress { font-size:24px; }
        | .profile-title {}

    .container
        h1.profile-title.jumbotron Charles Homelessman
        div.profile-image.circular
        div.jumbotron
            p.profile-description.  Was a British politician who was the Prime Minister of the United Kingdom from 1940 to 1945 and again from 1951 to 1955. Widely regarded as one of the greatest wartime leaders of the 20th century, Churchill was also an officer in the British Army, a historian, a writer, and an artist. He is the only British Prime Minister to have won the Nobel Prize in Literature, and was the first person to be made an honorary citizen of the United States.
            br 
            .progress
                .progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 60%;")
                span.sr-only 60% Complete
            div.profile-progress.lead.text-center 69.34$ / 80.01$
        a.btnDonate.btn.btn-primary Donate