//
   Created by kok on 6/2/14.

.container
    .footer(style='margin-top:100px;')
        p
            a(href='/')
                center
                    bottom
                        img(src='/public/img/Footer.png', width='150', align='center')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

block footer