//
   Created by kok on 6/2/14.

.container
    .footer
        hr(style='margin: 30px 0 10px 0;')
        p &copy;&nbsp;
            a(href='#') ShirtThrophy
link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-responsive.min.css')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

block footer