doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,400,300', rel='stylesheet', type='text/css')

    style(type='text/css')
      | body { width:480px; min-height:800px; font-family: 'Roboto', Arial, sans-serif; -webkit-font-smoothing: antialiased;
      |     font-weight:100; background-color:#e9aa4d; background-image:url('/public/img/Background.png'); background-size: cover; }
      | h1, h2, h3, h4, h5, p, a, div { font-weight:100; }
      | h1, h2, h3, h4, h5 { color:white; }
      | a, .link { color:blue }
  body
    block content