
extends layout
block content
    .container.text-center
        if(user)
           
            h1 
                b #{user.fname}
            h2 #{user.lname}
            br 

            img(src='#{user.avatar}').profile-avatar.circular
            
            br 
            br 

            .profile.well
                .profile-details
                .profile-rating
                    - for (var x = 1; x < user.data.rank; x++)
                    i.fa.fa-heart
                    - for (var x = 1; x < (5 - user.data.rank); x++)
                    i.fa.fa-heart-o
                .profile-total-donations
                    span.small Total donations:
                    | #{user.data.total_donations}$

                .clearfix

