extends layout
block content
    style(type='text/css')
        | body { padding: 0; }
        | .intro-header { margin: 50px auto; width: 400px; text-align: center; }
        | .intro-header h1 { margin: 0; }
        | .intro-header h2 { margin: 0; }
        | .profile-image { width:200px; height:200px;);
        |    background-size:cover; margin:auto; margin-bottom:-60px; z-index:1; position:relative; }
        | .button { border: none; padding: 10px; display: block; width: 100%; margin: 20px 0; cursor: pointer; text-align: center; text-decoration : none; }
    .intro-header
        br
        br
        br
        br
        br
        br
        if(user)
            h1(style='font-size:48pt;') Thank You #{user.fname} #{user.lname}.
        else
            h1(style='font-size:48pt;') Thank You.
        br
        h2(style='font-size:18pt;') You helped us, 
        h2(style='font-size:18pt;') and we want to help you. 
        br
        br
        if(!user)
            .blockImage
                a(href='/auth/facebook', title='Login with Facebook')
                    img(src='/public/img/fb_login.png', width='400px')
        else
            h2 Summary
            .profile.well
                .profile-rating
                    - for (var x = 1; x <= user.data.rank; x++)
                        i.fa.fa-heart
                    - for (var x = 1; x <= (5 - user.data.rank); x++)
                        i.fa.fa-heart-o
                    .profile-total-donations
                        if(user)
                            span.small Total donations:
                            | #{user.data.total_donations}$
            .contest.well


