extends layout
block content
    style(type='text/css')
        | body { padding: 0; }
        | .intro-header { margin: 50px auto; width: 400px; text-align: center; }
        | .intro-header h1 { margin: 0; }
        | .intro-header h2 { margin: 0; }
        | .button { border: none; padding: 10px; display: block; width: 100%; margin: 20px 0; cursor: pointer; text-align: center; text-decoration : none; }
    .intro-header
        br
        br
        br
        br
        br
        br
        br
        br
        h1(style='font-size:48pt;') Thank You.
        br
        h2(style='font-size:18pt;') You helped us, 
        h2(style='font-size:18pt;') and we want to help you. 
        br
        .blockImage
            img(src='/public/img/fb_login.png', width='400px')